@using Microsoft.AspNet.Identity
<div class="container">
    <form role="form" data-toggle="validator">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="headquarters">Sedes - Fundos</label>
                <select class="form-control selectpicker" data-live-search="true" id="headquarters">
                    <option data-tokens=1 value="1">Fundo 1</option>
                    <option data-tokens=2 value="2">Fundo 2</option>
                    <option data-tokens=3 value="3">Fundo 3</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="machinery">Maquinarias</label>
                <select class="form-control selectpicker" data-live-search="true" id="machinery">
                    <option data-tokens=1 value="1">Maquinaria 1</option>
                    <option data-tokens=2 value="2">Maquinaria 2</option>
                    <option data-tokens=3 value="3">Maquinaria 3</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="operator">Operarios</label>
                <select class="form-control selectpicker" data-live-search="true" id="operator">
                    <option data-tokens=1 value="1">Operario 1</option>
                    <option data-tokens=2 value="2">Operario 2</option>
                    <option data-tokens=3 value="3">Operario 3</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="implementType">Tipos de implemento</label>
                <select class="form-control selectpicker" data-live-search="true" id="implementType">
                    <option data-tokens=1 value="1">Tipo implemento 1</option>
                    <option data-tokens=2 value="2">Tipo implemento 2</option>
                    <option data-tokens=3 value="3">Tipo implemento 3</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="implement">Implementos</label>
                <select class="form-control selectpicker" data-live-search="true" id="implement">
                    <option data-tokens=1 value="1">Implemento 1</option>
                    <option data-tokens=2 value="2">Implemento 2</option>
                    <option data-tokens=3 value="3">Implemento 3</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="date">Fecha</label>
                <input class="form-control" type="date" id="date" name="date"/>
                
            </div>
            <div class="form-group col-md-6">
                <label for="turn">Turno</label>
                <select class="form-control selectpicker" data-live-search="true" id="turn">
                    <option data-tokens=1 value="1">Mañana</option>
                    <option data-tokens=2 value="2">Tarde</option>
                    <option data-tokens=3 value="3">Noche</option>
                </select>
            </div>
        </div>
        
        <div class="form-row table-responsive">
            <div>
                <h5>Sistemas - Componentes</h5>
            </div>
            <table class="table table-hover">
                <thead class="thead-light text-white">
                    <tr class="d-flex">
                        <th class="col-1 text-center font-weight-bold">#</th>
                        <th class="col-5 text-left font-weight-bold">First</th>
                        <th class="col-2 text-center font-weight-bold">OK</th>
                        <th class="col-2 text-center font-weight-bold">NO OK</th>
                        <th class="col-2 text-center font-weight-bold">N.A.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-flex system">
                        <td class="col-1 text-center">1</td>
                        <td class="col-5 text-left">Mark</td>
                        <td class="col-2 text-center"><input type="radio" checked class="text-center" value=0 name="system0"></td>
                        <td class="col-2 text-center"><input type="radio" class="text-center" value=1 name="system0"></td>
                        <td class="col-2 text-center"><input type="radio" class="text-center" value=2 name="system0"></td>
                    </tr>
                    <tr class="d-flex system">
                        <td class="col-1 text-center">1</td>
                        <td class="col-5 text-left">Mark</td>
                        <td class="col-2 text-center"><input type="radio" checked class="text-center" value=0 name="system1"></td>
                        <td class="col-2 text-center"><input type="radio" class="text-center" value=1 name="system1"></td>
                        <td class="col-2 text-center"><input type="radio" class="text-center" value=2 name="system1"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-row table-responsive">
            <div>
                <h5>Implementos - Componentes</h5>
            </div>
            <table class="table table-hover">
                <thead class="thead-light text-white">
                    <tr class="d-flex">
                        <th class="col-1 text-center font-weight-bold">#</th>
                        <th class="col-5 text-left font-weight-bold">First</th>
                        <th class="col-2 text-center font-weight-bold">OK</th>
                        <th class="col-2 text-center font-weight-bold">NO OK</th>
                        <th class="col-2 text-center font-weight-bold">N.A.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-flex implement">
                        <td class="col-1 text-center">1</td>
                        <td class="col-5 text-left">Mark</td>
                        <td class="col-2 text-center"><input type="radio" checked class="text-center" value=0 name="implement0"></td>
                        <td class="col-2 text-center"><input type="radio" class="text-center" value=1 name="implement0"></td>
                        <td class="col-2 text-center"><input type="radio" class="text-center" value=2 name="implement0"></td>
                    </tr>
                    <tr class="d-flex implement">
                        <td class="col-1 text-center">1</td>
                        <td class="col-5 text-left">Mark</td>
                        <td class="col-2 text-center"><input type="radio" checked class="text-center" value=0 name="implement1"></td>
                        <td class="col-2 text-center"><input type="radio" class="text-center" value=1 name="implement1"></td>
                        <td class="col-2 text-center"><input type="radio" class="text-center" value=2 name="implement1"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-row justify-content-center">
            <button type="submit" id="send-check-list" class="btn btn-success">Terminar diagnóstico</button>
        </div>
        
    </form>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);

            var today = now.getFullYear() + "-" + (month) + "-" + (day);

            $('#date').val(today);
            //POST -> Controller:DailyPart/Add
            $("#send-check-list").click(() => {
                event.preventDefault();
                let impLenght = $(".implement").length;
                let sysLenght = $(".system").length;

                let sysData = [];
                let impData = [];
                for (let i = 0; i < impLenght; i++) {
                    let system = "system" + i;
                    var selValue = $("input[name=" + system + "]:checked").val();
                    sysData.push({ id: i, status: selValue });
                }
                for (let i = 0; i < impLenght; i++) {
                    let implement = "implement" + i;
                    var selValue = $("input[name=" + implement + "]:checked").val();
                    impData.push({ id: i, status: selValue });
                }
                console.log(sysData, impData);
                let dailyPart = {
                    HeadquartersId: $("#headquarters").val(),
                    MachineryId: $("#machinery").val(),
                    ImplementTypeId: $("#implementType").val(),
                    ImplementId: $("#implement").val(),
                    OperatorId: $("#operator").val(),
                    Date: $("#date").val(),
                    TurnId: $("#turn").val(),
                    CreationDate: new Date().toLocaleString(),
                    UserCreation: "1",
                    ModificationDate: new Date().toLocaleString(),
                    UserModification: "1",

                }
                console.log(dailyPart)
                axios.post("http://localhost:46947/DailyPart/Add", JSON.stringify(dailyPart), {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => {
                    console.log(response.data);
                })
                .catch(error => {
                    console.log(error);
                });
            });
        })
    </script>
}


